@font-face {
  font-family: 'Montserrat-regular';
  src: url('../../fonts/Montserrat/montserrat-regular.eot');
  src: url('../../fonts/Montserrat/montserrat-regular.woff2') format('woff2');
  src: url('../../fonts/Montserrat/montserrat-regular.ttf') format('truetype');
  src: url('../../fonts/Montserrat/montserrat-regular.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat-bold';
  src: url('../../fonts/Montserrat/montserrat-bold.eot');
  src: url('../../fonts/Montserrat/montserrat-bold.woff2') format('woff2');
  src: url('../../fonts/Montserrat/montserrat-bold.ttf') format('truetype');
  src: url('../../fonts/Montserrat/montserrat-bold.woff') format('woff');
}